<mat-card class='polling-station-list-container'>
  <h2>All Polling Stations</h2>

  <div class='header-actions'>
    <button mat-flat-button color='primary' routerLink='/polling-stations/create'>
      <mat-icon>add</mat-icon>
      Create New Polling Station
    </button>
  </div>

  <div *ngIf='pollingStations.length === 0' class='empty'>
    No polling stations found.
  </div>

  <table mat-table [dataSource]='pollingStations' class='mat-elevation-z1' *ngIf='pollingStations.length > 0'>
    <ng-container matColumnDef='name'>
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef='let ps'>
        <a [routerLink]="['/polling-stations', ps.id]" class='link-name'>
          {{ ps.name }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef='address'>
      <th mat-header-cell *matHeaderCellDef> Address</th>
      <td mat-cell *matCellDef='let ps'> {{ ps.code }}</td>
    </ng-container>

    <ng-container matColumnDef='address'>
      <th mat-header-cell *matHeaderCellDef> Address</th>
      <td mat-cell *matCellDef='let ps'> {{ ps.address }}</td>
    </ng-container>

    <ng-container matColumnDef='municipality'>
      <th mat-header-cell *matHeaderCellDef> Municipality</th>
      <td mat-cell *matCellDef='let ps'> {{ ps.municipality.label }}</td>
    </ng-container>

    <ng-container matColumnDef='actions'>
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef='let ps'>
        <button mat-button color='warn' (click)='deletePollingStation(ps.id)'>
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
    <tr mat-row *matRowDef='let row; columns: displayedColumns'></tr>
  </table>
</mat-card>
