.polling-station-list-container {
  padding: 1.5rem;
  margin: 2rem auto;
  max-width: 900px;

  h2 {
    color: #336699;
    margin-bottom: 1rem;
    text-align: center;
  }

  .header-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  .empty {
    text-align: center;
    color: #777;
    margin-top: 2rem;
  }

  table {
    width: 100%;
  }

  th.mat-header-cell {
    font-weight: bold;
  }

  td.mat-cell {
    vertical-align: middle;
  }

  button mat-icon {
    margin-right: 4px;
  }
  .link-name {
    color: #336699;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

}
