<div class="municipality-form-container">
  <h2>{{ editable ? 'Create Municipality' : 'Municipality Details' }}</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Electoral District</mat-label>
      <mat-select formControlName="electoralDistrictId" required>
        <mat-option value="" disabled>Select a district</mat-option>
        <mat-option *ngFor="let district of districts" [value]="district.id">
          {{ district.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    @if (editable) {
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Create
      </button>
    }
  </form>
</div>
