<div class="electoral-district-form-container">
  <h2>{{ editable ? 'Create Electoral District' : 'Electoral District Details' }}</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Code</mat-label>
      <input matInput formControlName="code" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    @if (editable) {
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Create
      </button>
    }
  </form>
</div>
