.electoral-district-list-container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;

  h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #336699;
  }

  .empty {
    margin-top: 2rem;
    text-align: center;
    color: #777;

    mat-icon {
      vertical-align: middle;
      margin-right: 0.5rem;
      color: #999;
    }
  }

  .district-link {
    color: #336699;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  table {
    width: 100%;
    margin-top: 1rem;
  }
  .header-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

}
