<div class='polling-station-form-container'>
  <h2>{{ editable ? 'Create Polling Station' : 'Polling Station Details' }}</h2>

  <form [formGroup]='form' (ngSubmit)='onSubmit()'>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName='name'/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Code</mat-label>
      <input matInput formControlName='code'/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName='address'/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Municipality</mat-label>
      <mat-select formControlName='municipalityId' required>
        <mat-option value='' disabled>Select a municipality</mat-option>
        <mat-option *ngFor='let m of municipalities' [value]='m.id'>
          {{ m.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    @if (editable) {
      <button mat-raised-button color='primary' type='submit' [disabled]='form.invalid'>
        Create
      </button>
    }
  </form>
</div>
