<div class='election-form-container'>
  <h2>{{ editable ? 'Create Election' : 'Election Details' }}</h2>

  <form [formGroup]='form' (ngSubmit)='onSubmit()'>
    <label for='title'>Title</label>
    <input id='title' formControlName='title' type='text'/>

    <label for='description'>Description</label>
    <textarea id='description' formControlName='description'></textarea>

    <label for='startDate'>Start Date</label>
    <input id='startDate' formControlName='startDate' type='datetime-local'/>

    <label for='endDate'>End Date</label>
    <input id='endDate' formControlName='endDate' type='datetime-local'/>

    <label for='type'>Election Type</label>
    <select id='type' class='election-type-select' formControlName='type' name='type' required>
      <option value='' disabled>Select an election type</option>
      <option *ngFor='let type of electionTypes' [value]='type.id'>{{ type.label }}</option>
    </select>


    <div formArrayName='options'>
      <div *ngFor='let option of options.controls; let i = index' [formGroupName]='i' class='option-group'>
        <label>Option</label>
        <input formControlName='title' type='text'/>

        <div formArrayName='candidates' class='candidate-list'>
          <div *ngFor='let candidate of candidates(option).controls; let j = index' [formGroupName]='j'>
            <label>Candidate Name</label>
            <input formControlName='name' type='text'/>
            <label>Position (optional)</label>
            <input formControlName='position' type='number'/>
            @if (editable) {
              <div class='button-right'>
                <button type='button' class='action-button remove' (click)='removeCandidate(i, j)'>
                  ✖ Remove Candidate
                </button>
              </div>
            }
          </div>
          @if (editable) {
            <span (click)='addCandidate(i)'>
              <img ngSrc='assets/icons/add.svg' alt='add' class='add-icon' width='30' height='30'/>
            </span>
          }
        </div>

        @if (editable) {
          <div class='button-right'>
            <button type='button' class='action-button remove' (click)='removeOption(i)'>
              ✖ Remove Option
            </button>
          </div>
        }
      </div>
      @if (editable) {
        <button type='button' class='action-button add' (click)='addOption()'>
          ➕ Add Option
        </button>
      }
    </div>

    @if (editable) {
      <button type='submit' [disabled]='form.invalid'>
        Create
      </button>
    }
  </form>
</div>
