<div class='home-container'>
  <h1>Welcome to Populi Vote</h1>
  <p>Your secure platform for fair and transparent online voting.</p>

  <section class='ongoing-elections' *ngIf='ongoingElections.length > 0'>
    <h2>Ongoing Elections</h2>
    <div class='election-cards'>
      <mat-card *ngFor='let election of ongoingElections' class='election-card'>
        <mat-card-header>
          <mat-card-title>{{ election.title }}</mat-card-title>
          <mat-card-subtitle>
            {{ election.type }}
          </mat-card-subtitle>
          <mat-card-subtitle>
            {{ election.startDate | date:'mediumDate' }} - {{ election.endDate | date:'mediumDate' }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ election.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          @if (election.hasVoted) {
            <button mat-raised-button (click)='goToStats(election.id)'>
              <mat-icon>bar_chart</mat-icon>
              Stats</button>
          } @else {
            <button mat-raised-button (click)='goToVote(election.id)'>Cast Your Vote</button>
          }
          @if (keycloakService.hasAdminRealmRole()) {
            <button style='margin-left: 5px' mat-raised-button (click)='goToManualVoteAddingScreen(election.id)'>
              <mat-icon>how_to_vote</mat-icon>
              Physical Votes</button>
          }
        </mat-card-actions>
      </mat-card>
    </div>
  </section>

  <section *ngIf='ongoingElections.length === 0' class='no-elections'>
    <p>No ongoing elections at the moment. Please check back later.</p>
  </section>
</div>
